.w-300 {
    width: 300px;
}
.h-400 {
    height: 400px;
}
.bg-card {
    background: #17222b;
}
.bd-rd {
    -webkit-border-radius: 10px;
}


.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.father_cards {
    height: auto;
    background: #6c9187;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 70px ;
}

.card1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;


}
.text {
    color: white;
    font-family: Arial;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0px 15px 0px;
    text-align: center;
    position: relative;
    bottom: 10px;



}
.button {
    width:200px;
    height: 50px;
    font-family: Arial;
    background: #729b89;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;


}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e3a81b;
}
.circir {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.fa-solid {
    font-size: 35px;
    position: relative;
    top: 30px;
    left: 30px;
}

.button:hover {
    background: #e3a91d;
    transition: 300ms;
}

a:visited{
    color: #19242d;
}
