.main_container {
    width: 100vw;
    height: 100vh;
    /*background: grey;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.container_father {
    width: 900px;
    background: #08bdd4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;

}

.child {
    width: 400px;
    height: 100px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.fa-solid {
    font-size: 40px;
    box-sizing: border-box;
    padding: 30px;
    color: #8d8d8d;

}

h2 {
    font-size: 18px;
    font-family: Arial;
    margin: 0 0 5px 0;
    color: #f29e3c;
    margin: 5px 0 5px 0;
}

.text {
   justify-content: center;
    align-items: center;
}

p {
    font-size: 14px;
    font-family: Arial;
    margin: 0;
    color: #8d8d8d;
}