.main_container {
    width: 100vw;
    height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_father {
    width: 50%;
    height: 60%;
    background: #08bdd4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;
}
.child {
    width: 45%;
    height: 20%;
    background: white;
    border-radius: 5px;
}