.bg-dark {
    background: #112c3f;
}
.bg-brt {
    background: #ced8e1;
}
.bg-vlt{
    background: #6a65e2;
}
.bg-ylw {
    background: #ffbe24;
}
.icon-color {
    color: #132e41;
}

.h-10 {
    height: 30px;
}
.h-70 {
    height:70vh;
}
.h-20 {
    height: 600px;

}
.h-60 {
    height: 60px;
}
.h-45 {
    height: 50px;
}

.h-200 {
    height: 200px;
}
.w-200{
    width: 200px;
}
.w-60 {
    width: 60px;
}
.flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.flex-spe {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}
.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bd-rd {
    -webkit-border-radius: 10px;
}
.pad{
    box-sizing: border-box;
    padding: 30px;
}
.content-block {
    position: relative;
    top: 100px;
    margin: 30px;
}
.mini-cube {
    position: relative;
    top: -12px;
    border-radius: 50px;
}
.fa-solid {
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;

}
.text{
    font-family: Arial;
    text-align: center;
    color: #ced8e1;
    position: relative;
    top: -50px;
    box-sizing: border-box;
    padding: 12px;

}

img {
    width: 100px;

}
.hover:hover {
    background: #ffbe26;
    transition: 300ms;
}

.content-blockfather {
    position: relative;
    top: 30px;
}

.titletext {
    font-size: 25px;
    width: 600px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 150px;
}
.describtion {
    position: relative;
    top: -80px;
}

.inform-block {
    flex-direction: column;
}